.home-page #root {
    margin: auto;
    background-color: white;
    width: 900px;
    padding: 10px;
    border-radius: 10px;
}

.home-page #buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 5px;
}

.home-page .countDisplay {
    background-color: rgb(81, 131, 223);
    padding: 5px 10px;
    font-size: 1.2rem;
}

.home-page button {
    width: 100px;
    font-size: 1.2rem;
}

.home-page h1 {
    color: brown;
}
